@tailwind base;
@tailwind components;
@tailwind utilities;



.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
    top: 90%;
}

.fp-controlArrow.fp-prev {
    left: 20%;
    border-width: 20px 20px 20px 0;
    border-color: transparent #000 transparent transparent;
}

.fp-controlArrow.fp-next {
    right: 20%;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #000;
}


